parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Actions\\Fortify\\CreateNewUser\:\:emailRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\Rule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Unique\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: '#^Method App\\Livewire\\Actions\\Logout\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/Actions/Logout.php

		-
			message: '#^Cannot call method delete\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/DeleteUserForm.php

		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method fill\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method isDirty\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method save\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Instanceof between App\\Models\\User and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Method App\\Livewire\\Settings\\Profile\:\:emailRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\Rule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Unique\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$two_factor_confirmed_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Cannot access property \$two_factor_secret on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Cannot call method hasEnabledTwoFactorAuthentication\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Cannot call method update\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Parameter \#1 \$value of function decrypt expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Property App\\Livewire\\Settings\\Security\:\:\$qrCodeSvg \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Livewire/Settings/Security.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Cannot access property \$address on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Cannot access property \$lat on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Cannot access property \$lon on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Cannot access property \$place_id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Method App\\Services\\Geocoder\\Drivers\\MapsCo\:\:validateResponse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$country of method Geocoder\\Model\\AddressBuilder\:\:setCountry\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$latitude of method Geocoder\\Model\\AddressBuilder\:\:setCoordinates\(\) expects float, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$locality of method Geocoder\\Model\\AddressBuilder\:\:setLocality\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$postalCode of method Geocoder\\Model\\AddressBuilder\:\:setPostalCode\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$streetName of method Geocoder\\Model\\AddressBuilder\:\:setStreetName\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$streetNumber of method Geocoder\\Model\\AddressBuilder\:\:setStreetNumber\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$string of function strtoupper expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#1 \$subLocality of method Geocoder\\Model\\AddressBuilder\:\:setSubLocality\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#2 \$longitude of method Geocoder\\Model\\AddressBuilder\:\:setCoordinates\(\) expects float, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Parameter \#2 \$type of method App\\Services\\Geocoder\\Drivers\\MapsCo\:\:updateAddressComponent\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Geocoder/Drivers/MapsCo.php

		-
			message: '#^Method App\\Services\\OIDC\\SocialiteProvider\:\:getTokenUrl\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Services/OIDC/SocialiteProvider.php

		-
			message: '#^Parameter \#1 \$string of function rtrim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/OIDC/SocialiteProvider.php

		-
			message: '#^Parameter \#1 \$url of method Laravel\\Socialite\\Two\\AbstractProvider\:\:buildAuthUrlFromBase\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/OIDC/SocialiteProvider.php

		-
			message: '#^Property App\\Services\\OIDC\\SocialiteProvider\:\:\$configuration \(array\<string, mixed\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Services/OIDC/SocialiteProvider.php
